body {
    font-family: Inter, sans-serif;
    font-size: 18px;
}

#container {
    max-width: 1022px;
    margin: 0 auto;
}

#comment-form {
    /*border: 1px solid lightblue;*/
    display: flex;
    gap: 30px;
}

.avatar {
    width: 61px;
    height: 61px;
}

#comment-form .input-container {
    flex-grow: 1;
}

#comment-form  .label-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.user-name {
    color: #122AC0;
    font-weight: 500;
}

#comment-form .counter {
    color: #A1A1A1;
    font-size: 14px;
    font-style: italic;
}

#comment-form #comment-input {
    width: 100%;
    height: 61px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    font-size: inherit;
    padding-left: 30px;
    box-sizing: border-box;
}

#comment-form #comment-input:focus {
    outline: none;
}

#comment-form #comment-input::placeholder {
    color: #A1A1A1;
}

#comment-form button {
    width: 213px;
    height: 61px;
    align-self: flex-end;
    border-radius: 5px;
    border: none;
    margin-bottom: 1px;
    color: #A1A1A1;
    background-color: lightgray;
    font-size: inherit;
}

.comment * {
    /*outline: 1px solid green;*/
}

.comment-intrinsic {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.comment .date {
    font-size: 14px;
    color: #A1A1A1;
}

.comment p {
    color: black;
    line-height: 22px;
    width: 100%;
}

.comment .actions {
    display: flex;
    align-items: center;
}

.actions .reply,
.actions .favorite {
    color: #A1A1A1;
}

.actions .minus,
.actions .plus {
    border-radius: 50%;
    background-color: lightgray;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.actions .minus {
    color: red;
    line-height: 19px;
}

.actions .plus {
    color: green;
    line-height: 18px;
}

.actions .action-respond {
    margin-right: 19px;
}

.actions .action-favorite {
    margin-right: 30px;
}

.actions .action-respond,
.actions .action-favorite,
.respondee {
    display: flex;
    gap: 8px;
    align-items: center;
}

.actions .likes-counter {
    margin: 0 10px;
    color: #8AC540;
    font-weight: 500;
}

.sub-comment {
    margin: 22px 0 0 100px;
}

.sub-comment .action-respond {
    display: none;
}

.comment .heading {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #A1A1A1;
}
